@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #28282b;
  color: #fff;
}

.app {
  margin: auto;
  min-height: 100vh;
  width: 80vw;
  max-width: 80vw;
}

h1 {
  font-family: "Poller One", serif;
  font-size: 8rem;
  background-image: linear-gradient(to right, #ab8f0f, #90ae22, #7bb631);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin: 3rem auto 3rem auto;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.settings {
  display: flex;
  flex-direction: wrap;
  gap: 3rem;
  padding: 2rem;
}

@media only screen and (max-width: 768px) {
  .settings {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

.settings-part-1,
.settings-part-2 {
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .settings-part-1,
  .settings-part-2 {
    width: 100%;
    max-width: 100%;
  }
}

label {
  display: block;
  padding: 1rem;
}

select {
  text-align-last: center;
  width: 100%;
  max-width: 100%;
  height: 3.1rem;
  border-radius: 3px;
  border: 0.5px solid #71797e;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.1rem;
}

select:focus {
  border-color: #90ae22;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 10rem;
  height: 4rem;
  padding: 1.2rem 1.3rem;
  border-radius: 21px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: "Poller One", serif;
  font-size: 1.3rem;
  background-color: #7bb631;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .btn {
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.btn:hover {
  background-image: linear-gradient(to right, #ab8f0f, #90ae22, #7bb631);
  transition: all 0.5s ease-out;
}
.start {
  margin-top: 7rem;
  margin-bottom: 2rem;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.timer .progress {
  width: 60%;
  height: 40px;
  background-color: transparent;
  border-radius: 21px;
  overflow: hidden;
  margin: 3rem auto 3rem auto;
}
.timer .progress .bar {
  width: 100%;
  max-width: 100%;
  height: 2.5rem;
  background-image: linear-gradient(to right, #ab8f0f, #90ae22, #7bb631);
  border-radius: 21px;
  transition: 1s linear;
}

.question-container {
  width: 80%;
  margin: 3rem auto 3rem auto;
}

.answers-container .answer {
  width: 100%;
  max-width: 100%;
  height: 60px;
  min-height: auto;
  min-height: auto;
  padding: 20px;
  border-radius: 15px;
  color: #faf9f6;
  border: 0.5px solid #71797e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s linear;
}
.answers-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 21px;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  .answers-container {
    width: 90vw;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .answers-container .answer {
    width: 100%;
    max-width: 100%;
  }
}

.answers-container .answer .text {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.answer .checkbox {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid #90ae22;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.answer .checkbox .icon {
  opacity: 0;
}

.answer:hover:not(.checked) .checkbox,
.answer .checkbox:hover,
.answer.selected .checkbox {
  background-color: #90ae22;
  border-color: #90ae22;
}

.answer.selected {
  border-color: #90ae22;
}
.answer.correct {
  background-color: #7bb631;
  outline: none;
  border: none;
  transition: all 0.9s ease-out;
}

.answer.incorrect {
  border: 3px solid #8b0000;
}
.answer.selected .checkbox .icon {
  opacity: 1;
  color: #28282b;
}

.results-display {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
.results-display .final-score {
  font-family: "Poller One", serif;
  font-size: 5rem;
  padding: 2rem;
  margin: 3rem auto 3rem auto;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, #ab8f0f, #90ae22, #7bb631);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 768px) {
  .results-display .final-score {
    font-size: 2rem;
  }
}

.final-score {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 50vh;
  margin: auto;
}
button.restart {
  width: 12rem;
  height: 4rem;
}
.hide {
  display: none;
}

.error {
  color: #8b0000;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
